body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #1B1B1B;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #1B1B1B;
}

a {
    text-decoration: none;
    color: #1B1B1B;
}



.container {
    width: 1160px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.col-80 {
    width: 80%;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}

.z-40 {
    z-index: 410;
}



/**
============
HEADER
============
*/

header {
    background: #F4F4F8;
    padding: 20px 0;
    width: 1440px;
    margin: 0 auto;

}

header .logo {
    width: 54px;
    height: 68px;
    display: block;
}

header .logo img {
    width: 100%;
}

header .nav-switch {
    border: 2px solid #4D1299;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 3px;
    display: flex;
    justify-content: space-around;
}

header .nav-switch a {
    font-weight: 600;
    width: 54px;
    text-align: center;
    color: #1B1B1B;
    padding: 3px 0px 4px;
    margin: 0 2px;
    font-size: 14px;
    background: #FFF;
    transition: all 0.3s ease-out;

}

header .nav-switch a.active,
header .nav-switch a:hover {
    background: #4D1299;
    color: #FFF;
    border-radius: 25px;
}

header .nav-menus a {
    font-size: 18px;
    transition: all 0.3s ease-out;
    margin: 0 25px;

}

header .nav-menus a:hover {
    color: #4D1299;
}

header .phone,
.section-6 .contacts-col-1 .phone {
    padding: 18px 26px;
    border: 2px solid #4D1299;
    font-size: 18px;
    font-weight: 600;
    color: #4D1299;
    border-radius: 50px;
    transition: all 0.3s ease-out;
}

header .phone:hover,
.section-6 .contacts-col-1 .phone:hover {
    color: #FFF;
    background: #4D1299;
}

header .soc-icon {
    width: 40px;
    height: 40px;
    background: #F4F4F8;
    border-radius: 50px;
}

header .soc-icon:hover {
    background: #FFF;
}

/*
==========
Footer
==========
*/

footer {
    background: #EBE7F3;
    margin: 0;
    color: #1B1B1B;
    padding-bottom: 3px;
    border-radius: 30px 30px 0 0;
}

footer h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

footer .phone,
footer .e-mail,
footer .address,
.section-6 .contacts-col-2 .phone {
    font-weight: 700;
    font-size: 18px;
    color: #4D1299;
    transition: all 0.3s ease-out;
}

footer p {
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 8px;
}

footer .title-block {
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    margin-bottom: 16px;
}

footer .soc-icon {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50px;
}

footer .soc-icon:hover {
    background: #F4F4F8;
}

.about-us,
.services,
.contacts,
.tech-support {
    margin-top: 65px;
    margin-bottom: 109px;
    height: min-content;
}

footer .link:hover {
    color: #4D1299;
}

.terms {
    margin-bottom: 11px;
}

.terms a {
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: rgba(27, 27, 27, 0.6);

    margin-left: 25px;
    margin-right: 25px;
}



/*
============
Home page
============
*/

.wrapper {
    overflow: hidden;
    position: relative;
}

section.bg-white {
    background: #FFF;
}

section.bg-grey {
    background: #E5E5E5;
}

/*
*==================
*Section-1
*==================
*/

.section-1 {
    padding: 116px 140px;
    overflow: hidden;
    box-shadow: inset 0px 30px 15px 0px rgba(229, 229, 229, 1);
}

.section-1 h1 {
    font-size: 55px;
    line-height: 1.15;
}

.section-1 h1 span {
    color: #4D1299;
}

.section-1 p {
    font-size: 18px;
}

.section-1 .main-info {
    padding-bottom: 250px;
}

.section-1 .btn {
    background: #4D1299;
    color: #FFF;
    border: 2px solid #4D1299;
    border-radius: 50px;
    padding: 18px 26px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin-top: 46px;
    display: inline-block;
}

.btn:hover {
    background: #FFF;
    color: #4D1299;
}

.section-1 .col {
    position: relative;
}

.section-1 .people {
    position: absolute;
    top: 0;
    left: -231px;
    width: 840px;
}

.section-1 .privilege .col {
    flex-direction: column;
    width: 260px;
}

.section-1 .privilege .icon {
    width: 135px;
    height: 135px;
    position: relative;
    margin-bottom: 50px;
}

.section-1 .privilege .icon img {
    width: 100%;
    height: 100%;
}

.section-1 .privilege h2 {
    font-size: 22px;
    font-weight: 600;
}

.section-1 .privilege p {
    font-size: 18px;
}

.section-1 .privilege p,
.section-1 .privilege h2 {
    text-align: center;
}

.section-1 .privilege p span {
    font-weight: bold;
}

/*
*==================
*Section-2
*==================
*/

.section-2 {
    padding: 116px 140px;
    margin: 0;
    overflow: hidden;
}

.section-2 .cols.flex {
    flex-wrap: wrap;
}

.section-2 h2 {
    font-size: 46px;
    text-align: center;
    margin-bottom: 64px;
}

.section-2 .col {
    background: #F4F4F8;
    padding: 40px;
    width: calc(100%/2 - 100px);
    border-radius: 30px;
    margin-bottom: 148px;
}

.section-2 .number {
    color: #4D1299;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 16px;
}

.section-2 h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
    font-family: 'Montserrat', 'semi-bold';
}

.section-2 p {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.section-2 .note {
    margin-top: 78px;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: rgba(27, 27, 27, 0.6);
}

.section-2 .slider-nav {
    border: 2px solid #4D1299;
    border-radius: 50px;
    padding: 0;
    display: flex;
    margin-bottom: 48px;
}

.section-2 .slider-nav li {
    padding: 16px;
    width: 95%;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #1B1B1B;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin: 6px;
    list-style: none;
}

.section-2 .slider-nav li.active,
.section-2 .slider-nav li:hover {
    background: #4D1299;
    color: #FFF;
}

.section-2 .slider-item {
    display: none;
    position: relative;
}

.section-2 .slider-item.active {
    display: block;
}

.section-2 .slider-item img {
    width: 100%;
    border-radius: 30px;
}

.tooltip {
    max-width: 200px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.tooltip-icon {
    width: 18px;
    height: 18px;
    background: #4D1299;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.tooltip-icon::before {
    content: "";
    width: 28px;
    height: 28px;
    background: rgba(77, 18, 153, 0.3);
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    z-index: 9999;
}

.tooltip-icon svg {
    width: 11px;
    fill: #FFF;
    z-index: 1;
    position: relative;
}

.tooltip-content {
    background: #FFF;
    position: relative;
    padding: 6px 10px;
    margin-bottom: 16px;
    border-radius: 10px;
    text-align: center;
}

.tooltip-content::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FFF;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
}

/*1111111*/
.slide-1 .tooltip-1 {
    top: calc(95% - 78px);
    left: 30%;
}

.slide-1 .tooltip-2 {
    top: 51%;
    left: 50%;
}

.slide-1 .tooltip-3 {
    top: 45%;
    left: 30%;
}

.slide-1 .tooltip-4 {
    top: 52%;
    left: 6%;
}

/*2222222*/

.slide-2 .tooltip-1 {
    top: calc(95% - 58px);
    left: 59%;
}

.slide-2 .tooltip-2 {
    top: 49%;
    left: 71%;
}

.slide-2 .tooltip-3 {
    top: 64%;
    left: 74%;
}

.slide-2 .tooltip-4 {
    top: 45%;
    left: 52%;
}

/*3333333*/

.slide-3 .tooltip-1 {
    top: calc(95% - 246px);
    left: 59%;
}

.slide-3 .tooltip-2 {
    top: 49%;
    left: 17%;
}

.slide-3 .tooltip-3 {
    top: 23%;
    left: 71%;
}

.slide-3 .tooltip-4 {
    top: 34%;
    left: 30%;
}


/*
*====================
*Section-3
*====================
*/

.section-3 {
    overflow: hidden;
    padding: 116px 140px 340px 140px;
}

.section-3 h2 {
    font-size: 46px;
    text-align: center;
    margin-bottom: 16px;
}

.section-3 .pack-title p {
    font-size: 18px;
    padding: 0;
    margin: 0 251px;
    text-align: center;
    margin-bottom: 16px;
}

.section-3 .col-1,
.section-3 .col-2 {
    width: 580px;
}

.section-3 .subscription {
    padding: 62px 60px 32px 60px;
    background-color: #EBE7F3;
    border-radius: 30px;
}

.section-3 h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 115%;
    margin-bottom: 32px;
}

.section-3 li {
    font-size: 18px;
    font-weight: 400;
    margin-left: 0;
    margin-bottom: 8px;
}

.section-3 ul {
    margin-left: 0;
    padding-left: 22px;
}

.section-3 li::marker {
    color: #4D1299;
    font-size: larger;
    margin-left: 0;
}

.section-3 .bonus {
    margin: 36px 0;
}

.section-3 .bonus a {
    color: #4D1299;
    font-size: 18px;
    font-weight: 500;
    margin-left: 12px;
    width: 425px;
}

.section-3 .bonus a span {
    font-weight: 600;
}

.section-3 .col-2 h1 {
    color: #4D1299;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.section-3 .col-2 p {
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: rgba(27, 27, 27, 0.6);
    text-align: center;
    width: 400px;
    margin: 12px auto;
}

.section-3 .col-2 .btn {
    font-size: 18px;
    font-weight: 600;
    background: #4D1299;
    color: #FFF;
    border: 2px solid #4D1299;
    border-radius: 50px;
    padding: 18px 26px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin: 36px auto;
    width: 340px;
    text-align: center;
    display: table;
}

.section-3 .btn:hover {
    background: #FFF;
    color: #4D1299;
}

.section-3 .banner {
    width: 100%;
    height: 311px;
    border-radius: 30px;
    background: #4D1299;
    margin: 80px 0 57px 0;
}

.section-3 .banner h3 {
    font-size: 32px;
    color: #EBE7F3;
    font-weight: 600;
    line-height: 115%;
    width: 540px;
    padding-left: 60px;
    margin: 0;
}

.section-3 .banner h3 span {
    background: #FF8427;
    border-radius: 50px;
    width: 89px;
    height: 37px;
    padding: 0 10px;
}

.section-3 .banner img {
    margin-left: 120px;
}

.section-3 .init img {
    margin-left: -35px;
    width: 45%;
}

.section-3 .init h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 115%;
    margin-bottom: 32px;
}

.section-3 .help {
    width: 567px;
    margin-left: 25px;
    margin-top: 30px;
}

.section-3 .privilege {
    margin-top: 98px;
}

.section-3 .privilege .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding: 0;
    margin-bottom: 40px;
}

.section-3 .privilege .icon {
    width: 135px;
    height: 135px;
    position: relative;
    margin-bottom: 50px;
}

.section-3 .privilege .icon img {
    width: 100%;
    height: 100%;
}

.section-3 .privilege h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}

.section-3 .privilege p,
.section-3 .privilege h2 {
    text-align: center;
}

.section-3 .privilege p {
    font-size: 18px;
}

.section-3 .privilege .col p {
    margin-bottom: 0;
}

.section-3 .privilege p span {
    font-weight: bold;
}

.section-3 .bottom .btn,
.section-5 .btn,
.section-6 .btn {
    font-size: 18px;
    font-weight: 600;
    background: #4D1299;
    color: #FFF;
    border: 2px solid #4D1299;
    border-radius: 50px;
    padding: 18px 26px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    margin: 64px auto 0 auto;
    width: fit-content;
    text-align: center;
    display: table;
}

.section-3 .bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

.section-3 .bottom .btn:hover,
.section-5 .btn:hover,
.section-6 .btn:hover {
    background: #FFF;
    color: #4D1299;
}

/*
*==================
*Section-4
*==================
*/

.section-4 {
    overflow: hidden;
    padding: 116px 140px;
    position: relative;
    margin: 0 auto;
}

.section-4 h2 {
    text-align: center;
    font-size: 46px;
    font-weight: bold;
}

.section-4 .cols {
    column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    margin-top: 64px;
    margin-bottom: 60px;

}

.section-4 .col {
    background: #F4F4F8;
    border-radius: 30px;
    padding: 12px;
    margin: 18px 10px;
    height: fit-content;
    display: inline-block;
    width: 85%;
}

.section-4 .container .cols .col h3 {
    font-size: 22px;
    margin: 8px;
}

.section-4 .container .cols .col p {
    font-size: 18px;
    font-weight: 400;
    margin: 8px;
}

.section-4 .cols img {
    width: 138px;
    height: 26px;
    margin-left: 8px;
}

.section-4 .btn-google,
.section-4 .btn-facebook {
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #4D1299;
    border-radius: 50px;
    padding: 18px 26px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    width: 288px;
    text-align: center;
    margin: 0 8px;
}

.section-4 .btn-google {
    background: #4D1299;
    color: #FFF;
}

.section-4 .btn-facebook {
    background: #FFF;
    color: #4D1299;
}

.section-4 .btn-google:hover {
    background: #FFF;
    color: #4D1299;
}

.section-4 .btn-facebook:hover {
    background: #4D1299;
    color: #FFF;
}

/*
*==================
*Section-5
*==================
*/

.section-5 {
    overflow: hidden;
    padding: 0 140px;
}

.section-5 .container {
    background: #EBE7F3;
    border-radius: 30px;
}

.section-5 .content {
    padding: 116px 60px;
    position: relative;
    overflow: hidden;
}

.section-5 .content::before {
    content: '';
    width: 140px;
    height: 140px;
    background: url(img/home/sponge.svg);
    position: absolute;
    top: 40%;
    right: -7px;
    background-repeat: no-repeat;
    background-size: contain;
}

.section-5 .content::after {
    content: '';
    width: 156px;
    height: 156px;
    background: url(img/home/brush.svg);
    position: absolute;
    top: 73%;
    left: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.section-5 h2 {
    font-size: 46px;
    text-align: center;
    margin-bottom: 60px;
}

.section-5 h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
    font-family: 'Montserrat', 'semi-bold';
}

.section-5 p {
    font-size: 18px;
}

.section-5 .col {
    background: #F4F4F8;
    padding: 40px;
    margin-bottom: 40px;
    width: calc(100%/2 - 100px);
    border-radius: 30px;
}

.section-5 .flex {
    flex-wrap: wrap;
}

.section-5 .number {
    color: #4D1299;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
}



/* 
*===============
*Section-6
*===============
*/

.section-6 {
    overflow: hidden;
    padding: 116px 140px 164px;
}

.section-6 h2 {
    font-size: 46px;
    text-align: center;
    margin-bottom: 60px;
}

.section-6 .qu-block {
    background: #EBE7F3;
    border-radius: 30px;
    padding: 60px;
}

.section-6 .btn {
    margin: 60px auto 0;
    display: block;
    width: fit-content;
}

.section-6 .contacts-block {
    padding: 116px 0;
}

.section-6 .contacts-block h2 {
    text-align: center;
    margin-bottom: 64px;
}

.section-6 .contacts-col-1,
.section-6 .contacts-col-2 {
    padding: 40px;
    width: 420px;
    height: 350px;
}

.section-6 .contacts-col-1 h4 {
    font-size: 22px;
    margin: 64px 0 16px;
}


.section-6 .contacts-col-1 p {
    font-size: 18px;
    margin-bottom: 58px;
}

.section-6 .contacts-col-1 .nav-social {
    margin-top: 32px;
}

.section-6 .contacts-col-1 .nav-social .soc-icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.section-6 .contacts-col-1 .nav-social .soc-icon:hover {
    background: #FFF;
}

.section-6 .contacts-col-2 {
    background: #FFF;
    border-radius: 30px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.section-6 .contacts-col-2 h3 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 16px;
    line-height: 115%;
    width: 100%;
}

.section-6 .contacts-col-2 .nav-social .soc-icon {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.section-6 .contacts-col-2 .nav-social .soc-icon:hover {
    background: #E5E5E5;
}


.section-6 li {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.section-6 ul {
    padding-left: 22px;
}

.section-6 li::marker {
    color: #4D1299;
    font-size: larger;
}

.section-6 .contacts-col-2 p {
    font-size: 18px;
}

.section-6 .contacts-col-2 .phone {
    font-size: 20px;
}

.section-6 .adv-banner {
    background-color: #4D1299;
    width: 1160px;
    height: 482px;
    border-radius: 30px;
    position: relative;
}

.girl {
    position: absolute;
    left: 20px;
}

.boy {
    position: absolute;
    left: 765px;
}

.section-6 .adv-banner .adv-content {
    max-width: 727px;
    text-align: center;
    padding: 60px auto;
}

.section-6 .adv-banner .adv-content h3 {
    color: #EBE7F3;
    line-height: 115%;
    margin: 60px auto;
    font-size: 32px;
    text-align: center;
}

.section-6 .adv-banner .adv-content h3 span {
    background: #FF8427;
    border-radius: 30px;
    width: auto;
    height: 30px;
    padding: 0 10px;
}

.section-6 .adv-banner .adv-content h1 {
    color: #EBE7F3;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
}

.section-6 .adv-banner .adv-content p {
    color: rgba(235, 231, 243, 0.8);
    font-size: 18px;
    margin-top: 0;
}

.section-6 .adv-banner .adv-content .btn {
    background-color: #F4F4F8;
    color: #4D1299;
    font-size: 18px;
    font-weight: 600;
    width: 321px;
    margin-top: 24px;
}

.section-6 .adv-banner .adv-content .btn:hover {
    color: #FFF;
    background: #4D1299;
    border: 2px solid #F4F4F8;
}

.qu-block {
    padding: 60px;
}

.acc .question {
    position: relative;
    border-bottom: #4D1299 2px solid;
    padding: 32px 0;
}

.acc .question.active {
    padding-bottom: 0;
}

.acc .question:first-child {
    padding-top: 0;
}

.acc .question .que {
    position: relative;
    background-color: #EBE7F3;
    color: #1B1B1B;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.acc .question .que::after {
    content: url(img/home/marker.svg);
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 24px;
}

.acc .question.active .que::after {
    content: url(img/home/marker-act.svg);
}

.acc .question .answ {
    position: relative;
    background: #EBE7F3;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.acc .question .answ p {
    font-size: 18px;
}

/*
*
*
*/

.sidebar-menu {
    background: #4D1299;
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -50%;
    z-index: 999;
    transition: all 0.4s ease-out;
}

.sidebar-menu .sidebar-container {
    margin-left: 15%;
    width: 56%;
}

.sidebar-menu.opened {
    right: 0;
    position: fixed;
}

.sidebar-menu__header {
    margin-top: 40px;
}

.sidebar-menu__header #sidebarLogo {
    display: none;
}

.sidebar-menu__header .sidebar-nav-switch {
    border: 2px solid #FFF;
    border-radius: 50px;
    width: fit-content;
    padding: 5px 3px;
    display: none;
}

.sidebar-menu__header .sidebar-nav-switch a {
    font-weight: 600;
    width: 54px;
    text-align: center;
    color: #FFF;
    padding: 3px 0px 4px;
    margin: 0 2px;
    font-size: 14px;
    background: #4D1299;
    transition: all 0.3s ease-out;

}

.sidebar-menu__header .sidebar-nav-switch a.active,
.sidebar-menu__header .sidebar-nav-switch a:hover {
    background: #FFF;
    color: #4D1299;
    border-radius: 25px;
}

.sidebar-menu__header #closeMenu {
    display: block;
    width: fit-content;
    margin: 0 0 0 auto;
}

.sidebar-menu__header #closeMenu img {
    width: 32px;
}

.sidebar-menu__navs {
    margin: 90px 0;
}

.sidebar-menu__navs a:first-child {
    margin-top: 0;
}

.sidebar-menu__navs a {
    margin-top: 24px;
    font-size: 36px;
    color: #FFF;
}

.sidebar-menu__contacts {
    margin: 0;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-menu__contacts .social {
    width: 150px;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.sidebar-menu__contacts a.phone {
    padding: 17px 26px;
    font-size: 18px;
    font-weight: 600;
    color: #4D1299;
    border-radius: 50px;
    transition: all 0.3s ease-out;
    background: #FFF;
}